pom.xml
*jar
**/classes/
**/.lein-deps-sum
**/.lein-failures
**/.lein-env
**/checkouts
**/.env
**/target
**/profiles.clj
**/logs
**/.lein-repl-history
**/pg
**/.nrepl-port
**/.nrepl-port
**/.lein-repl-history
**/target/*
**/sharingio-*.yaml
**/docs/**/*.html
**/docs/**/*.xml
