:root{
    --color_bg: hsl(100, 98.0%, 99.0%);
    --color_text: hsl(0, 1.2%, 3.4%);
    --color_outline: hsl(0, 1.2%, 60%);
    --color_action: dodgerblue;
    --font_body: 'Manrope', 'Helvetica', sans-serif;
    --font-base: 20px;
    --section-spacing: 3rem;
}

body , html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body {
    background: var(--color_bg);
    color: var(--color_text);
    font-family: var(--font_body);
    font-size: var(--font-base);
}

p, a, ul, li, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header a {
    text-decoration: none;
    color: unset;
}

header a.home {
    font-size: 2.5rem;
    font-weight: 200;
}
header nav p {
    display: flex;
    align-items: center;
}

header nav img {
    max-width: 2rem;
}

main#splash {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#cta p.tagline {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: var(--section-spacing);
}


form input {
    font-size: 1.25rem;
    border-radius: 3px;
    border: 1px solid var(--color_outline);
    padding: 0.22rem;
}

form#git-started input[type=submit] {
    background: var(--color_action);
    margin-left: 0.25rem;
    drop-shadow: 1px 1px black;
    font-weight: 200;
    border-radius: 3px;
}

main header  {
    padding: 1rem;
    border-top: 1px solid var(--color_text);
    border-bottom: 1px solid var(--color_text);
}

main header h2 {
    font-size: 2.5rem;
}

form#new-box {
    margin: 3rem;
    max-width: 30rem;
}

div.form-group {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: column;
}


form input[type=submit] {
    background: var(--color_action);
    drop-shadow: 1px 1px black;
    font-weight: 200;
    font-size: 1.25rem;
    padding: 0.5rem;
    color: var(--color_bg);
    border-radius: 3px;
    cursor: pointer;
}

form input[type=submit]:hover {
    filter: hue-rotate(60deg);
}
